<div class="conteudo">
  <div class="sobre">
    <div class="texto">
      <h1>Você pode me encontrar em qualquer um desses lugares abaixo.</h1>
    </div>
    <img src="https://github.com/guilhermevaccaro/pagina_pessoal/blob/7d910e7dad2ebbaf57600922a721edebc132f41c/src/assets/contato-removebg-preview.png?raw=true" alt="" class="img1" />
  </div>

  <div class="contatos">
    <a
      href="https://api.whatsapp.com/send?phone=5514997714306
    "
      ><img src="https://cdn-icons-png.flaticon.com/512/3670/3670051.png" alt="" class="img2"
    /></a>
    <a href="https://www.facebook.com/guiIherme.vaccaro/"
      ><img src="https://cdn-icons-png.flaticon.com/512/3955/3955011.png" alt="" class="img2" />
    </a>
    <a href="https://www.instagram.com/guilherme.vaccaro/"
      ><img src="https://cdn-icons-png.flaticon.com/512/3955/3955024.png" alt="" class="img2" />
    </a>
  </div>
</div>
