body{
  overflow: hidden;
}
.conteudo {
  padding-bottom: 0;
}
.sobre {
  padding: 11rem;
  padding-bottom: 0;
  display: flex;
}
img {
  width: 40rem;
  height: 30rem;
}

.img2 {
  width: 12rem;
  height: 12rem;
  margin: 25px;
}

.contatos {
  display: flex;
  margin-top: -68px;
  margin-left: 18rem;
}

h1 {
  text-align: justify;
  font-family: arial, sans-serif;
  letter-spacing: 5px;
  word-spacing: 10px;
  line-height: 1.6em;
  text-indent: 50px;
  padding-top: 5rem;
  padding-left: 200px;
  padding-right: 300px;
}
