* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    59deg,
    rgba(255, 255, 255, 1) 41%,
    rgba(0, 212, 255, 1) 41%
  );
  overflow: hidden;
}
